$fxblue: #15a3bf;
$fxdarkblue: #004855;
$fxgreen: #95a724;
$fxorange: #f7a600;
$fxpink: #c93182;
$fxred: #e94e24;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$brand-primary:         $fxblue;
$brand-success:         $fxgreen;
$brand-info:            $fxblue;
$brand-warning:         $fxpink;
$brand-danger:          $fxred;